@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .change-sidebar {
        left:0;
    }
    .change-hamburger-icon {
      position: fixed;
      transition: all 0.5s;
      z-index: 10;
      left: 1.25rem;
      top: 1.60rem;
    }
    .body {
      transition: filter 0.5s ease;
      height: 100vh;
      width: 100vw;
      position: fixed;
    }
  
    .body-blur {
      background-color: #000000a4;
      opacity: 0.5;
      z-index: 2;
      display: block;
    }
}